body {
  color: #222;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  padding: 10px;
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

header a {
  text-decoration: none;
  color: inherit;
  align-items: center;
}
header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
header nav a {
  display: flex;
  gap: 15px;
}
div.post {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}
div.post div.img {
  width: 50%;
  height: auto;
}
div.post div.texts h2 {
  margin: 0;
  font-size: 1.8rem;
}
div.post div.texts h2 a {
  text-decoration: none;
  color: inherit;
}
div.post p.info {
  margin: 6px 0;
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
div.post p.info a.author {
  color: #333;
}
div.post p.summary {
  margin: 10px 0;
  line-height: 1.5rem;
  line-height: 1.6rem;
}
form.login,
form.register {
  max-width: 300px;
  margin: 0 auto;
}
input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 8px 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

button {
  width: 100%;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
form.login h1,
form.register h1 {
  text-align: center;
}

.post-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.post-page h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  text-align: center;
}

.post-page .info-bar {
  display: flex;
  gap: 15px;
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.post-page .author {
  font-weight: bold;
}

.post-page .image-container {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  margin-bottom: 30px;
  border-radius: 8px;
}
.post-page .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-page .content {
  line-height: 1.6;
  font-size: 1.1rem;
  margin-top: 20px;
}

.post-page .content p {
  margin-bottom: 1.5em;
}

.post-page .edit-row {
  text-align: center;
  margin: 20px 0;
}

.post-page .edit-row {
  text-align: center;
  margin: 20px 0;
}

.post-page .edit-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  border: 2px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 10px 15px;

  color: #333;
  text-decoration: none;
  font-weight: 600;
}

.post-page .edit-btn:hover {
  border-color: #000;
  background-color: #eee;
}

.post-page .edit-btn svg {
  width: 20px;
  height: 20px;
}
